.body{
    width: 100%;
    background-color: rgb(87, 48, 48);
    padding : 10px;
    border-Radius: 10px;
    color: black;
    margin-Top: 20px;
}
.bg{

    background-color: rgb(87, 48, 48);  
    color: black;
    font-size: 40px;
}